<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <div class="title-and-description">
      <%= f.text_field:title, placeholder: "Post title"  %><br/>
      <%= f.text_area :description, placeholder: "Post description" %>
    </div>
    <div class="create-post">
      <%= f.text_area :content, placeholder: "Post" %>
    </div>  
    <%= f.submit "Post", class: "pull-right btn btn-primary" %>
  </div>
<% end %>
