<% if user_signed_in? %>
  <%= link_to raw('<i class="icon-plus"></i> New Post'), new_post_path, class: "btn btn-large btn-primary" %>
<% end %>
<% @posts.each do |post| %>
  <div class="row post-overview">
    <div class="span1">
      <%= gravatar_for post.author %>
     
    </div>
    <div class="span10">
      <h3><%= link_to post.title, post_path(post) %></h3>
      <h5><%= post.description %></h5>
        <p>
          Posted by <span class="gray"><%= post.author_name %></span> 
          on <span class="gray"><%= post.day_created %></span>
        </p>
    </div>

   
  </div>
    
      
    <!--   <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> -->
    
<% end %>

